footer{
    background-color: $color-footer;
    color: $color-fondo;
    a{
        color: $color-fondo;
        text-decoration: none;
        &:hover{
            color: $color-blanco;
        }
    }
}
