/*Navbar*/
nav{
    a{
        font-family: $font-h;
        color: $color-titulo;
        &:hover{
            color: $color-subtitulo;
            border-bottom: 4px solid $color-subtitulo;
        }
    }
    ul{
        li{
            &:hover{
                border-bottom: 4px solid $color-subtitulo;
            }
            a{
                font-family: $font-h;
                color: $color-titulo;
            }
        }
    }
}
