footer
    .container-fluid
        .row.between-md.espacio-comodo__padding.footer-text
            .label.col-md-6
                p Email:
                    a(href="mailto:julioclavijo@outlook.com") julioclavijo@outlook.com
                p Móvil:
                    a(href="tel://3125587200") 312 55 87 200
                p Teléfono:
                    a(href="tel://0314317054") +57 (1) 4317054
            .label.col-md-6.text-right
                p
                    a(href="#")
                        i.icon-facebook
                    a(href="#")
                        i.icon-twitter
                p Todos los derechos reservados. Julio Clavijo - 2017.
                p Bogotá D.C., Colombia.
script(src="assets/js/all.js")
