meta(charset='UTF-8')
link(rel='stylesheet', href='assets/css/style.css')
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="author", content="Julio Clavijo" )
meta(name="robots", content="Index, Follow")
link(type="text/plain", rel="author", href="humans.txt")
link(rel="icon", href="favicon.ico", type="image/x-icon")
link(rel="apple-touch-icon" href="apple-touch-icon.png")
