.container
    nav.navbar.navbar-expand-lg.fixed-top.bg-faded
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navegacion" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        p.navbar-brand(href="home.html") Portafolio Julio Clavijo
        .collapse.navbar-collapse#navegacion
            ul.navbar-nav.mr-auto
                li.nav-item: a.nav-link#btn-producto(href="#perfil") Perfil Ocupacional
                li.nav-item: a.nav-link#btn-nosotros(href="#galeria") Galería
                li.nav-item: a.nav-link#btn-contacto(href="#contacto") Contacto
