.container
    nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-warning
        p.navbar-brand Portafolio Julio Clavijo
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navegacion" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navegacion
            ul.navbar-nav.mr-auto
                li.nav-item: a.nav-link#btn-producto(href="home.html#perfil") Perfil Ocupacional
                li.nav-item: a.nav-link#btn-nosotros(href="home.html#galeria") Galería
                li.nav-item: a.nav-link#btn-contacto(href="contacto.html") Contacto
