doctype html
html(lang='es')
    head
        include assets/include/head.pug
        meta(name='description', content='Portfolio diseño gráfico Julio Clavijo')
        title Portfolio diseño gráfico Julio Clavijo
    body
        .container-fluid.animated.fadeInDown
            .row.justify-content-center
                .titular.text-center
                    h1.titulo Sancocho
                    h2.subtitulo Pal´ guayabo
            .row.justify-content-center
                img.img-fluid(src="assets/images/sanocho.png", alt="")
            .row.justify-content-center
                a.btn.btn-warning(href="home.html") Quiero mi sancocho
